@import "../../../colors"
a
  color: black
  text-decoration-color: black
  &:hover
    color: black
    text-decoration-color: $greenBright
.styles-module_carousel-arrow__26sRw
  display: none
.box-reviews
  border-left: 4px solid $greenBright
.star
  color: gold
.reviews-name
  font-weight: 600

.reviews-title-review
  font-weight: 600

