@import "../../../colors"
.farm
  min-height: 100vh
  background-color: $green

.styles-module_carousel-arrow__26sRw
  padding: 35px
  background-color: black
.news
  font-weight: 600
.farm-text
  background-color: white